xdebug/*
!xdebug/.gitkeep
config/php.ini
config/config.sh
config/wp-table-prefix
plugins/*
!plugins/.gitkeep
sa-plugins/*
wordpress/*
!wordpress/.gitkeep
.idea/
.vscode/
.DS_Store
data/.DS_Store
.env
