xdebug/*
!xdebug/.gitkeep
config/php.ini
config/wp-table-prefix
plugins/*
!plugins/.gitkeep
sa-plugins/*
/wordpress/*
/wordpress-nightly/*
!wordpress/.gitkeep
!wordpress/wp-content/.gitkeep
.idea/
.vscode/
.DS_Store
data/.DS_Store
.env
/docker-compose.override.yml
/config/basic 
/config/woocommerce
/config/nightly
/config/multisite
/config/multisitedomain
/config/standalone
