xdebug/*
!xdebug/.gitkeep
config/php.ini
config/config.sh
plugins/*
!plugins/.gitkeep
sa-plugins/*
wordpress/*
!wordpress/.gitkeep
containers/wordpress/Dockerfile
.idea/
.vscode/
.DS_Store
data/.DS_Store
